/*
 * App styles
 * uses BEMCSS Methodology: http://getbem.com/introduction/
 */

html, body {
  font-family: Helvetica, sans-serif;
  background: lightgrey;
}

.app {
  margin: 0 auto;
  width: 95vw;
}

.header {
  animation: fadein 1s;

  &--photoset-title {
    margin: 10px 0 0;
    font-size: 34px;
  }

  &--description {
    margin: 0 0 20px;
    font-size: 14px;
  }
}

.container {
  display: flex;
}

.gallery {
  flex: 0 0 400px;
  opacity: 0;
  transition: opacity 1s;

  &__visible {
    opacity: 1;
  }

  &--image {
    margin: 0 2px;
    position: relative;
    opacity: .75;
    transition: all .25s;
    z-index: 0;

    &:hover {
      opacity: 1;
    }

    &__active {
      opacity: 1;
      transform: scale(1.2);
      z-index: 2;
    }
  }
}

.viewport {
  display:flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: darkgrey;

  &--placeholder {
    font-size: 30px;
    text-align: center;
    color: lightgrey;
    animation: fadein 1s;
  }

  &--image {
    position:relative;
  }

  &--photo {
    width: 100%;
    animation: fadein 1s;
  }

  &--photo-title-wrapper {
    padding: 10px 10px;
    background: rgba(0, 0, 0, 0.6);
  }

  &--photo-title {
    color: white;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
